<div>
    <div class="title-container container">
        <span>Event Logs</span>
        <img (click)="uiOnAddClicked()" id="add-btn" src="./assets/icons/add-circle-white.png"/>
    </div>

    <ul id="event-logs-ul">
        <li 
        *ngFor="let eventLog of eventLogs; let i = index"
        (click)="uiOnItemClicked(i)"
        [ngClass]="{'active': activeIndex == i}"
        >
        <div class="flex-container">
            <span class="sidebar-name">{{eventLog.UiTabLabel()}}</span>
            <span *ngIf="newEventsCount[i] > 0" class="sidebar-unread-badge">{{newEventsCount[i]}}</span>
            <img (click)="uiOnCloseClicked(i)" class="sidebar-close-icon" src="./assets/icons/delete-sign-white.png"/>
        </div>
        </li>
    </ul>
</div>