<!-- Search -->
<nz-input-group [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="search" id="searchInput"/>
</nz-input-group>
<ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
</ng-template>

<!-- Remote Computer -->
<nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
    <input type="text" nz-input placeholder="connect to remote computer" [(ngModel)]="remoteComputer" />
</nz-input-group>
<ng-template #suffixButton>
<button (click)="UiOnSearchClicked()" nz-button nzType="primary" nzSearch>Apply</button>
</ng-template>


<nz-list
    [nzDataSource]="logers"
    nzBordered
    nzSize="large"
    [nzRenderItem]="itemRef"
    [nzLoading]="loading"
>
    <ng-template #itemRef let-item>
        <li nz-list-item [nzActions]="[deleteAction, selectAction]" [nzContent]="item.log + ' ('+ item.entries +')'" nzNoFlex></li>
        <ng-template #deleteAction><a (click)="UiOnRemoveItemClicked(item)" style="color: #E89999;">remove</a></ng-template>
        <ng-template #selectAction><a (click)="UiOnItemSelected(item)">select</a></ng-template>
    </ng-template>
</nz-list>
