<div class="flex-container">
    <!-- Selected Filters -->
    <ul class="filters-selected">
        <li
        *ngFor="let filter of filters.eventEntryTypes" 
        class="filters-selected-item">
            <h5 [ngClass]="filter">{{filter}}</h5>
            <img 
            (click)="UiOnRemoveClicked(filter)"
            src="./assets/icons/close-window-black.png"/>
        </li>
        
        <li *ngIf="!!filters.searchTerm"
        class="filters-selected-item">
            <h5>{{filters.searchTerm}}</h5>
            <img 
            (click)="UiOnRemoveSearchClicked()"
            src="./assets/icons/close-window-black.png"/>
        </li>
        
        <li *ngIf="!!filters.dateFrom"
        class="filters-selected-item">
            <h5>{{filters.dateFrom | date:'yyyy-MM-dd HH:mm'}}</h5>
            <img 
            (click)="UiOnRemoveDateFrom()"
            src="./assets/icons/close-window-black.png"/>
        </li>
        
        <li *ngIf="!!filters.dateTo"
        class="filters-selected-item">
            <h5>{{filters.dateTo | date:'yyyy-MM-dd HH:mm'}}</h5>
            <img 
            (click)="UiOnRemoveDateTo()"
            src="./assets/icons/close-window-black.png"/>
        </li>
    </ul>

    <!-- Add Filter -->
    <button nz-button nz-dropdown [nzDropdownMenu]="menu"
    nzClickHide="true"
    nzTrigger="click"
    [(nzVisible)]="filtersVisible">
    Filter
    <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <!-- Entry Type-->
        <li *ngFor="let eventType of UiEventEntriesToShow()"
        (click)="UiOnEventTypeClicked(eventType)" 
        nz-menu-item
        class="event-type-indicator" 
        [ngClass]="eventType">{{eventType}}</li>
        <li nz-menu-divider></li>
        <!-- Search Input -->
        <nz-input-group [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="Search Message" id="searchInput" [(ngModel)]="filterText"/>
            <ng-template #suffixButton>
                <button (click)="UiOnSearchMessageClicked()" nz-button nzType="primary" nzSearch>Apply</button>
            </ng-template>
        </nz-input-group>
        <!-- Dates -->
        <nz-input-group>
            <nz-date-picker
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm"
            [(ngModel)]="filterDateFrom"
            nzPlaceHolder="Date From"
            (nzOnOk)="UiOnDateChanged()"
            (ngModelChange)="UiOnDateMightClear($event)"
            ></nz-date-picker>
        </nz-input-group>
        <nz-input-group>
            <nz-date-picker
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm"
            [(ngModel)]="filterDateTo"
            nzPlaceHolder="Date To"
            (nzOnOk)="UiOnDateChanged()"
            (ngModelChange)="UiOnDateMightClear($event)"
            ></nz-date-picker>
        </nz-input-group>
    </ul>
    </nz-dropdown-menu>
</div>