<div class="main-container">
  <div id="sidebar">
    <!-- Title -->
    <div class="title">
      Event Viewer++
    </div>

    <events-list
    [eventLogs]="tabs"
    [activeIndex]="activeIndex"
    (onAddClicked)="onAddClicked()"
    ></events-list>
  </div>
  
  
  <!-- Events List-->
  <div style="height:100%">
    <event-viewer
    *ngFor="let tab of tabs; let i = index"
    [hidden]="activeIndex != i"
    
    [eventLog]="tab"
    [showOnlyNewEvents]="tabsShowOnlyNewEvents[i]"
    (unreadEventsUpdated)="tabsWithNewContent[i]=$event"
    >
  
    </event-viewer>
  </div>
  

</div>

<!--
<nz-tabset [nzType]="'card'" [(nzSelectedIndex)]="activeIndex">
  <nz-tab *ngFor="let tab of tabs; let i = index" [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <div>
        <nz-badge nzDot *ngIf="tabsWithNewContent[i]">{{ tab.UiTabLabel() }}</nz-badge>
        {{ tabsWithNewContent[i] ? '' : tab.UiTabLabel() }}
        <i nz-icon nzType="close" class="ant-tabs-close-x" (click)="closeTab(i)"></i>
      </div>
    </ng-template>
    <event-viewer
    [eventLog]="tab"
    [showOnlyNewEvents]="tabsShowOnlyNewEvents[i]"
    (unreadEventsUpdated)="tabsWithNewContent[i]=$event"></event-viewer>
  </nz-tab>
</nz-tabset>
-->