<button class="fab-button" (click)="onAddClicked()" nz-button nzType="primary" [nzSize]="'large'" nzShape="circle">
  <i nz-icon nzType="plus"></i>
</button>

<!-- Code Initial -->
<nz-tabset [nzType]="'card'" [(nzSelectedIndex)]="activeIndex">
  <nz-tab *ngFor="let tab of tabs; let i = index" [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <div>
        <nz-badge nzDot *ngIf="tabsWithNewContent[i]">{{ tab.UiTabLabel() }}</nz-badge>
        {{ tabsWithNewContent[i] ? '' : tab.UiTabLabel() }}
        <i nz-icon nzType="close" class="ant-tabs-close-x" (click)="closeTab(i)"></i>
      </div>
    </ng-template>
    <event-viewer [eventLog]="tab" (unreadEventsUpdated)="tabsWithNewContent[i]=$event"></event-viewer>
  </nz-tab>
</nz-tabset>

<!-- Improvements -->
<!-- <nz-layout class="left-layout">
  <nz-sider>
    <div class="logo">
      <h3 class="white-color margin-auto">EventViewer++</h3>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ng-container *ngFor="let tab of tabs; let i = index">
        <li nz-menu-item>
          <i nz-icon nzType="file"></i>
          <span>{{ tabsWithNewContent[i] ? '' : tab.UiTabLabel() }}</span>
          <i nz-icon nzType="close" class="ant-tabs-close-x" (click)="closeTab(i)"></i>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <p>Other info</p>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <event-viewer [eventLog]="tab" (unreadEventsUpdated)="tabsWithNewContent[i]=$event"></event-viewer>
      </div>
    </nz-content>
    <nz-footer>
      <p>EventViewer++ Copyright 2019</p>
    </nz-footer>
  </nz-layout>
</nz-layout> -->