<div class="event-entry-container">
    <!-- Bubble Content -->
    <div class="event-entry-bubble">
        <!-- collapse button -->
        <div *ngIf="uiHasBigContent && uiShowingAllContent" class="flex-container" style="justify-content: flex-end;">
            <span class="toggle" (click)="uiOnToggleClicked(false)">collapse</span>
        </div>

        <!-- Indicator & Message -->
        <div class="flex-container">
            <div class="event-type-indicator" [ngClass]="event.EntryType"></div>
            <span class="event-message" style="white-space: pre-wrap;">{{uiEventMessage}}</span>
        </div>

        <!-- Expand button -->
        <div *ngIf="uiHasBigContent && !uiShowingAllContent" class="flex-container" style="justify-content: flex-end;">
            <span class="toggle" (click)="uiOnToggleClicked(true)">expand</span>
        </div>
    </div>

    <!-- Date (under bubble)-->
    <div class="event-entry-date">
        <span>{{event.TimeGenerated | date: 'd/M HH:mm:ss'}}</span>
    </div>
</div>