.event-entry-container {
    margin-bottom: 15px;
}

.event-entry-bubble {
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    text-align: left;
    background: #f1f0f0 none repeat scroll 0 0;
    color:black;
}

/* Indicator */
.event-type-indicator {
    padding-right: 8px;
}

.event-type-indicator:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: currentColor;
    border-radius: 50%;
}

/* Expand-Collapse toggles*/
.event-entry-bubble .toggle {
    font-size: 11px;
    cursor: pointer;
}

/* Date */
.event-entry-date {
    margin-top: 3px;
    font-size: 12px;
}

/* Indicator Colors */
.Information {
    color: #486274;
}

.Warning {
    color: #ffae42;
    /* color: #646464; */
}

.Error {
    color: #FF9494;
}