.event-entry-container {
    margin-bottom: 15px;
}

.event-entry-bubble {
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    text-align: left;
    background: white none repeat scroll 0 0;
}

/* Indicator */
.event-type-indicator {
    align-self: center;
    padding-right: 8px;
}

.event-type-indicator:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: currentColor;
    border-radius: 50%;
}

/* Expand-collapse toggle*/
.event-entry-bubble .togle-container {
    justify-content: flex-end;
}

.event-entry-bubble .toggle {
    font-size: 11px;
    cursor: pointer;
}

/* Date */
.event-entry-date {
    margin-top: 5px;
    font-size: 13px;
}

/* Bubble Colors */
.Information {
    color: #486274;
}

.Warning {
    color: #ffae42;
    /* color: #646464; */
}

.Error {
    color: #FF9494;
}