/* You can add global styles to this file, and also import other style files */
@import 'main.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.full-height {
  height: 100% !important;
}

.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

// Flex
.flex-container {
  display: flex;
}

// General - Common 
.container {
  padding: 10px;
}

.fab-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
}

.event-icon-warn {
  color:#ffae42;
}
.event-icon-error {
  color:#FF9494;
}
.event-icon-info {
  color:#486274;
}